.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;

  background-color: #000000;

  border-bottom: 1px solid #2d3748;
}

.logo {
  font-size: 28px;
  color: white;
}

.search-input {
  width: 300px;

  padding: 10px;

  border: none;
  border-radius: 10px;

  background-color: #555e6b;
  color: white;
}

.header-icons {
  display: flex;
  gap: 15px;

  color: white;
  font-size: 20px;
}