.modal-overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.8);

  z-index: 999;
}

.modal-content {
  display: flex;

  width: 800px;
  max-width: 90%;

  background: #111827;

  border-radius: 20px;

  overflow: hidden;
}

.modal-content img {
  width: 50%;

  object-fit: cover;
}

.modal-info {
  display: flex;
  flex-direction: column;

  gap: 15px;

  padding: 20px;

  color: white;
}

.modal-info button {
  padding: 10px;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}